body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

form {
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px; /* Ajusta según necesidades */
}

input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a50e0;
}

button[type="button"] {
    background-color: grey;
}

button[type="button"]:hover {
    background-color: #333;
}
